.nav {
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
}

.nav-link {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-size: 16px;
    color: black;
}
a:hover {
    color: black;
    background-color: #E0E0E0
}
img {
    margin-right: 6px;
    margin-top: -4px;
}