<body>
<ul class="nav justify-content-center">
    <li class="nav-item" >
      <a class="nav-link active" routerLink=""><img src="../../assets/WebsiteIcons/png/home-page.png" width="17" height="17">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about"><img src="../../assets/WebsiteIcons/png/user.png" width="17" height="17">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="blog"><img src="../../assets/WebsiteIcons/png/edit-document-button.png" width="17" height="17">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="contact"><img src="../../assets/WebsiteIcons/png/mail-envelope-shape.png" width="17" height="17">Contact</a>
    </li>
  </ul>


<router-outlet></router-outlet>
</body>
