.nav {
    background-color: white;
}

.nav-link {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-size: 16px;
    color: black;
}
.nav-link:hover {
    background-color: #EAF7CF
}