<ul class="nav justify-content-center">
    <h2 style="padding-top:75px;">My Blog</h2>
</ul>

<div class="container" id="wholepic">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Blogs (1/1/18 To 3/31/18)
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex
                        quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
                        magni quis!</p>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2017 by
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex
                        quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
                        magni quis!</p>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2017 by
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex
                        quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
                        magni quis!</p>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2017 by
                </div>
            </div>
        </div>
    </div>
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="container" id="button">
                <button (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.
        </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>

</div>
















<!-- <div class="container">
    <div class="blog-post">
        <h3 class="blog-post-title"> December 23, 2013</h3>
        <p id="text"> BLAHAJSKCBAJKWBCJWEBCKJWEBCJKWBECKJWBECJKWBECKJWBECJKBWECKJBWECKJBWECKJBWEKJCBWKJECBKWJEBCKWJEBCKJWBECKJWBECKJWBECKJWBECKJWBECJ</p>
    </div>

    <div class="blog-post">
        <h3 class="blog-post-title"> December 23, 2013</h3>
        <p id="text"> BLAHAJSKCBAJKWBCJWEBCKJWEBCJKWBECKJWBECJKWBECKJWBECJKBWECKJBWECKJBWECKJBWEKJCBWKJECBKWJEBCKWJEBCKJWBECKJWBECKJWBECKJWBECKJWBECJ</p>
    </div>

    <div class="blog-post">
        <h3 class="blog-post-title"> December 23, 2013</h3>
        <p id="text"> BLAHAJSKCBAJKWBCJWEBCKJWEBCJKWBECKJWBECJKWBECKJWBECJKBWECKJBWECKJBWECKJBWEKJCBWKJECBKWJEBCKWJEBCKJWBECKJWBECKJWBECKJWBECKJWBECJ</p>
    </div>
</div> -->








<!-- <div class="container pb-cmnt-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                        <form class="form-inline">
                            <div class="btn-group">
                                <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                                <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                                <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                                <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
                            </div>
                            <button class="btn btn-primary pull-right" type="button">Share</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->