<ul class="nav justify-content-center">
    <h2 style="padding-top:75px;">My Blog</h2>
</ul>

<div class="container" id="wholepic">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Blogs (1/30/18 To 3/31/18)
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">1-30-18</h2>
                    <p class="card-text">The first day of the Seals Program was kind of mind boggaling. There was alot if things to process and remember. We reviewed on basic Javascript and I was having a bit of trouble towards the beginng and things started to clear up towards the end of class. Once I got home I took it upon my own hands and started to look up tutorials/lessons on Javascript to btter expand my knowledge on this  </p>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2020 by Future Me
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">1-31-18</h2>
                    <p class="card-text">Today,I started to work on my reverse challenge, that was assigned. Not going to lie, i was going to just copy and paste some code on the internent but my homie Jonathan told me that, that way is not the best way to leanr. So I took his advice and started to do it on my own, it might have taken me 5 hours but I got it with the help of Jonathan of course. I took the iniciative of taking the hard way instead of the fast and easy way</p>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2020 by Future Me 
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">2-1-18</h2>
                    <p class="card-text">The Leadership class was today. One of the most confusing, annoying and head throbbing expericence. I would think I got it but some how I didn't even scratch the surface. Me personaly I have a huge ego when it comes to knowing what to do. But I found out that, most of the time I didn't evn know what I was actually doing and why I was doing it.</p>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2020 by Future Me 
                </div>
            </div>
        </div>
    </div>
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="container" id="button">
                    <button (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.
        </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>
</div>
















<!-- <div class="container">
    <div class="blog-post">
        <h3 class="blog-post-title"> December 23, 2013</h3>
        <p id="text"> BLAHAJSKCBAJKWBCJWEBCKJWEBCJKWBECKJWBECJKWBECKJWBECJKBWECKJBWECKJBWECKJBWEKJCBWKJECBKWJEBCKWJEBCKJWBECKJWBECKJWBECKJWBECKJWBECJ</p>
    </div>

    <div class="blog-post">
        <h3 class="blog-post-title"> December 23, 2013</h3>
        <p id="text"> BLAHAJSKCBAJKWBCJWEBCKJWEBCJKWBECKJWBECJKWBECKJWBECJKBWECKJBWECKJBWECKJBWEKJCBWKJECBKWJEBCKWJEBCKJWBECKJWBECKJWBECKJWBECKJWBECJ</p>
    </div>

    <div class="blog-post">
        <h3 class="blog-post-title"> December 23, 2013</h3>
        <p id="text"> BLAHAJSKCBAJKWBCJWEBCKJWEBCJKWBECKJWBECJKWBECKJWBECJKBWECKJBWECKJBWECKJBWEKJCBWKJECBKWJEBCKWJEBCKJWBECKJWBECKJWBECKJWBECKJWBECJ</p>
    </div>
</div> -->








<!-- <div class="container pb-cmnt-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                        <form class="form-inline">
                            <div class="btn-group">
                                <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                                <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                                <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                                <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
                            </div>
                            <button class="btn btn-primary pull-right" type="button">Share</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->